[Desktop Entry]
Version=1.0
Type=Application
Name=Modification of GRUB
Name[ru]=Модификация GRUB
Comment=Modifies grub.cfg
Comment[ru]=Модифицирует grub.cfg
Exec=pkexec /opt/app/modgrub
Icon=defcon
Path=
Terminal=true
StartupNotify=false
